/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2017, 11:46:30 AM
    Author     : Giacomo
*/
body{
    background-color: #b8860b;
    font: 17px/25px "Open Sans",Arial, sans-serif;
}

p{
    margin-top:0px;
    color:#000000;
    font: 17px/25px "Comic Sans MS",Arial,sans-serif;
    font-weight:bold;
    
}

h1{
    margin-top:0px;
    color:#D2B48C;
    font: 25px/30px "Courier New", Courier, monospace;
    font-weight: bold;
}

h2{
    margin-top:0px;
    color:#D2B48C;
    font: 25px/30px "Courier New", Courier, monospace;
    font-weight: bold;
}

h3{
    margin-top:0px;
    color:#D2B48C;
    font: 25px/30px "Courier New", Courier, monospace;
    font-weight: bold;
}

a:link{
    font-size: 15px;
    text-decoration:none;
    color: #111111;
}

a:visited{
    font-size: 15px;
    text-decoration:none;
    color: #111111;
}

nav ol, nav li{
    list-style-type: none;
    display: list-item;
}

#accesso{
    text-align: center;
}