/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2017, 11:46:30 AM
    Author     : Giacomo
*/
body{
    background-color:#ccffcc;
    font: 17px/25px "Open Sans",Arial, sans-serif;
}

p{
    margin-top:0px;
    color:#000000;
    font: 17px/25px "Courier new",Arial,sans-serif;
    font-weight:bold;
    
}

#title{
    color: antiquewhite;
  
}


h1{
    margin-top:0px;
    color:#000000;
    font: 45px/35px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h2{
    margin-top:0px;
    color:#000000;
    font: 25px/30px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h3{
    margin-top:0px;
    color:#000000;
    font: 25px/30px "Open Sans",Arial,sans-serif;
    font-weight: bold;
}

a:link{
    font: 25px/30px "Open Sans",Arial,sans-serif;
    text-decoration:none;
    color: #111111;
}

a:visited{
    font: 25px/30px "Open Sans",Arial,sans-serif;
    text-decoration:none;
    color: #111111;
}

a:hover{
    font-weight:bold;
    text-decoration: underline;
}

nav li.active{
   
     background-color:white;
     border-radius:50px;
}


nav ol, nav li{
    list-style-type: none;
    display:inline-block;
    font: 25px/30px "Open Sans",Arial,sans-serif;
}


nav li{
    padding-left: 15px;
    padding-right: 15px;
   
}

#navBar{
    padding:50px;
    margin-left:68px;
    margin-top:-149px;
}

#navBar_login{
    
    display:none;
}

#nav_bacheca{
    margin-left:113px;
    margin-top:6px;
    
}


#Bacheca{
    margin-top:-392px;
    margin-left:-350px;
    
}

.post{
    padding:15px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    border: solid;
    border-color: #000000;
    width:25%;
    margin-top:37px;
    border-radius:10px;
}
.profileName{
    position:relative;
}
.profileImage{
    position:relative;
    left: -130px;
    top:-55px;
    border-radius:100px;
}

#postImage{
    width:100%;
    border-radius:20px;
}

.immagine_profilo{
    
    border-radius:100px;
    
    
}

#visuale{
    border-color:#000000;
    width: 15%;
    margin-top:-22px;
    margin-left:16px;
}
input:after{
    content: '\A\ ';
    white-space: pre;
    
}

#social_name{
    margin-bottom: -5px;
}
ul{
    list-style-type: none;
    
}
#persone{
    border:solid;
    border-radius:10px;
    height:173px;
}

#gruppi{
    border:solid;
    border-radius:10px;
    margin-top:-3px;
    height:173px;
}

#wall_list{
    border:solid;
    border-radius:50px;
    width:49%;
   
    
}

#logout{
    margin-left: 828px ;
    margin-top:-110px;
    padding-bottom:14px;
    border:solid;
    border-radius:25px;
    text-align:center;
    width:29%;
    margin-bottom:110px;
    background-image: url(img/Spidey.jpg);
    background-repeat: no-repeat; 
    background-size: 15%;
    background-position-x: 10px;
    background-position-y: 6px;
    
}

#getout{
    margin-left:10px;
    margin-top:-20px;
    
}

#form_login{
    margin-left:418px;
    border:solid;
    width:28%;
    border-radius: 4%;
}

#form_login button{
    width:46%;
    margin-top:18px;
}

#form_login,input:after{
    
    content:'\A ';
    white-space:pre;
}

#title_log{
    margin-left:510px;
    margin-bottom:11px;
    padding-top:10px;
    
}

#navBar_profile{
    margin-top:-93px;
    margin-left:236px;
    width:44%;
}

#profile_form{
    width:31%;
    margin-left:424px;
    margin-top:-319px;
}



#profile_form label{
    float:left;
    clear:left;
}

#profile_form input{
    float:right;
    clear:right;
}

#data_di_nascita{
    width:168px;
    
}

.web_site{
    background-color:#ccccff;
    border:solid;
    border-radius:50px;
    width:17%;
    text-align:center;
}


#profile_list{
    border:solid;
    border-radius:50px;
    width:96%;
}

#profile_logout{
    margin-left:857px;
    margin-top:-61px;
    padding-bottom:12px;
    border:solid;
    border-radius:25px;
    width:29%;
    text-align:center;
    margin-bottom:65px;
    background-image: url(img/Spidey.jpg);
    background-repeat: no-repeat; 
    background-size: 15%;
    background-position-x: 10px;
    background-position-y: 6px;
    
}

#invia{
    width:100%;
    margin-top:30px;
}

#Nerd_log{
    padding-bottom:20px;
    background-image: url(img/n.png);
    background-repeat: no-repeat; 
    background-size: 4%;
    background-position-x: 417px;
    background-position-y: 0px;
}

@media only screen and (max-vidth:480px){
    
    
    
}

@media only screen and (min-width:481px) and (max-width:1024px){
    
    
    
}




